.bg_color{
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0,0,0.5);
     /*display: none;*/
     position: absolute;
     top: 0;
     left: 0;
     z-index: 100;
 }
.alert_box_b{
    width: 510px;
    height: 350px;
    background-color: #ffffff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.alert_box_header{
    background-color: #688fe7;
    text-indent: 10px;
    position: relative;
}
.alert_box_header h2{
    height: 47px;
    font-size: 18px;
    margin: 0;
    color: white;
    line-height: 47px;
}
.alert_box_header img{
    position: absolute;
    top:12px;
    right: 10px;
    cursor: pointer;
}
.alert_box_bottom{
     padding: 50px 0 0 80px;
     height: 190px;
 }
.alert_box_bottom input{
    width: 230px;
    height: 30px;
    border-radius: 30px;
    text-indent: 23px;
    margin-bottom: 20px;
    background-color: #f7f6fb;
}
.alert_box_bottom button{
    height: 32px;
    width: 130px;
    border-radius: 32px;
    background-color: #688fe7;
    color: white;
    cursor: pointer;
    padding: 0;
}
.alert_box_bottom button:hover{
    background-color: #81a8ff;
}
.btn_box button:nth-child(2){
    height: 32px;
    width: 80px;
    margin-left: 20px;
    padding: 0;
}
.alert_box_bottom p{
    color: red;
    display: none;
}


.change_password{
    display: none;
    width: 100%;
    height: 100%;
}