body{
    min-width: 1340px;
}
.fixAPrice {
    margin-left: 11%;
    width: 89%;
    height: 88.5%;
    float: left;
    background-color: #f8f8f8;
    overflow-y: auto;
    overflow-x: auto;
}

.boxone {
    padding: 20px;
}

.boxone>div {
    background-color: #ffffff;
    height: 120px;
}

.boxone h4 {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    padding: 14px 0 0 19px;
}

td h5 {
    color: #666666;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td hr {
    width: 114px;
    background-color: #a0a0a0;
    margin-bottom: 20px;
}

.two-box h4 {
    padding-left: 0;
}

.operation img {
    cursor: pointer;
    vertical-align: middle;
}

.operation img:nth-child(2) {
    margin-left: 10px;
}

.Submission {
    height: 58px;
    background-color: #7f90a2;
    line-height: 58px;
    position: fixed;
    bottom: 48px;
    width: 89%;
}

.Submission button {
    width: 148px;
    height: 32px;
    border-radius: 32px;
    border: none;
    outline: none;
    background-color: #ffffff;
    line-height: 32px;
    cursor: pointer;
}
.Submission button:hover{
    color: #ffffff;
    background-color: #47a3fc;
}

.login{
    color: #666666;
    background-color: #ffffff;
    margin: 0 0 0 90px;
}


.Submission>div {
    width: 420px;
    margin: auto;
}

.all-input {
    height: 28px;
    line-height: 28px;
    margin: 19px 0 0 0;
}

.all-input img {
    float: left;
    margin: 6px 10px 0 13%;
}

.all-input h5 {
    min-width: 80px;
    color: #666666;
    font-size: 12px;
    float: left;
    text-align: center;
}

.all-input h5 span {
    font-size: 12px;
    color: #a0a0a0;
    margin-left: 18px;
}

#Remarks {
    margin: 0 0 18px 0;
    clear: both;
    padding-top: 38px;
}


.three-box h4 {
    height: 28px;
    line-height: 28px;
    color: #333333;
    font-size: 16px;
}

.meg {
    height: 28px;
    background-color: #f7f7f7;
    border-radius: 5px 5px 0 0;
}

.meg img {
    margin-left: 0;
    padding: 0 14px 0 14px;
}

.meg img:nth-child(3) {
    margin-left: 60px;
}

@media(max-width: 1600px) {
    .all-input>img {
        float: left;
        margin: 0.4% 0 0 7%;
    }
}

.three-box {
    background-color: #ffffff;
    position: relative;
    border-left: 6px solid #405d90;
    height: auto;
}

.three-box h4 {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}


.Adopt h5,
.Adopt img {
    float: left;
}

.Adopt img {
    padding: 12px 10px 0 21px;
}

.detail th {
    background-color: #eceef4;
    color: #333333;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.detail td {
    height: 48px;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    line-height: 48px;
}

.detail td button {
    width: 72px;
    height: 28px;
    line-height: 28px;
    color: #ffffff;
    background-color: #47a3fc;
    outline: medium;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}


.add span {
    cursor: pointer;
}
/*弹出窗*/


.Popup>div {
    padding: 0 20px 0 20px;
}

.Popup>div:nth-child(1) {
    height: 40px;
    border-bottom: 1px solid #f6f5f8;
    margin-bottom: 42px;
}

.Popup>div:nth-child(2) {
    overflow-y: auto;
    overflow-x: auto;
}

.Popup>div>h5 {
    line-height: 40px;
    font-size: 16px;
    color: #333333;
    float: left;
    width: 200px;
}

.Popup>div:nth-child(1)>img {
    float: right;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.Popup>div:nth-child(2) {
    border-top: 6px solid #f6f5f8;
}

.Popup-table th {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f6f5f8;
}

.Popup-table td {
    text-align: center;
    line-height: 40px;
}


.company h5 {
    float: left;
    height: 28px;
    width: 33px;
    background-color: #85c9f8;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
}

.company input {
    padding: 0;
    width: 197px;
    float: left;
    height: 26px;
    border-radius: 0 5px 5px 0;
}
/*调研报告*/

.report {
    height: auto;
    padding-left: 15px;
    overflow: hidden;
    padding-bottom: 24px;
}

.report li {
    height: 32px;
    margin-bottom: 10px;
}

.report li p {
    display: inline-block;
    margin-right: 90px;
    font-size: 12px;
    color: #666;
}

.report li p img {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.report li button {
    margin-left: 13%;
    width: 152px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 18px;
    background: #47a3fc;
    border: none;
    cursor: pointer;
}

.report li button:hover {
    background: #1179fc;
}
/*弹出框*/

.report_alert {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}

.report_alert_box {
    margin: 0 auto;
    width: 1150px;
    height: 520px;
    margin-top: 146px;
    background: #fff;
    overflow: auto;
}

.box_title {
    padding: 0 20px 0 20px;
    height: 40px;
    border-bottom: 4px solid #f0f0f0;
}

.box_title>h2 {
    line-height: 40px;
    font-size: 16px;
    color: #333333;
    float: left;
    width: 200px;
}

.box_title>img {
    float: right;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.box_table {
    overflow: auto;
    height: 418px;
}

.box_table table tr {
    border: 1px solid #F0F0F0;
}

.box_table table tr td {
    white-space: nowrap;
}

.box_table table tr td span {
    display: inline-block;
    /*height: 50px;*/
    line-height: 50px;
    text-align: center;
}

.w_90 {
    width: 90px;
}

.w_120 {
    width: 120px;
}

.w_150 {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.w_108 {
    width: 108px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.w_72 {
    width: 72px;
}

.w_92 {
    width: 92px;
}

.w_74 {
    width: 74px;
}

.w_280 {
    width: 280px;
}

.w_130 {
    width: 210px;
}

.text_left {
    text-align: left;
}

.text_left_mar {
    margin-left: 20px;
}

.bar_bor {
    /*background: #f5fbfe;*/
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    position: relative;
}

.ver_mid {
    vertical-align: middle;
    position: relative;
    padding-top: 26px;
}

.border_b {
    border-bottom: 1px solid #F0F0F0;
}

.bar_bor p:last-child {
    border-bottom: none !important;
}
.w_1500{
	width: 150px;
}
.w_1088{
	width: 108px;
}
.weitre{
	width: 728px;
	height: 51px;
}
.wer{
	width: 728px;
}
.ver_bor span {
    float: left;
}
.box_operate{
    height: 58px;
    text-align: center;
}
.box_operate button{
    width: 138px;
    height: 28px;
    margin-right: 38px;
    border-radius: 16px;
    margin-top: 12px;
    background: #fff;
    border: 1px solid #d7d7d7;
    color: #666;
}
.box_operate button:hover{
    background: #47a3fc;
    border: 1px solid #47a3fc;
    color: #fff;
    cursor: pointer;
}

#nav{
    height: 100%;
    width: 11%;
    float: left;
    min-width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.textarea{
    width: 99.65%;
    border-radius: 0 0 5px 5px;
    border: solid 1px #e4e4e4;
    resize: none;
}
@media(max-width: 1600px){
    .fixAPrice{
        height: 84%;
    }
}
/*新增*/
.bar_bor_nav{
	height: 26px;
	line-height: 26px;
	background: #f7f7f7;
}
.bar_bor_nav i:nth-child(1){
	width: 140px;
	display: inline-block;
}
.bar_bor_nav i:nth-child(2),.bar_bor_nav i:nth-child(3){
	width: 70px;
	display: inline-block;
}
.bar_bor_list i:nth-child(1){
	width: 140px;
	display: inline-block;
	float: left;
	height: 50px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bar_bor_list i:nth-child(2),.bar_bor_list i:nth-child(3){
	width: 70px;
	display: inline-block;
	float: left;
	height: 50px;
}
.bar_bor_list i input{
	text-align: center;
	width: 80px;
	height: 28px;
	background: #fff;
	border-radius: 4px;
}
.w_140{
	width: 140px !important;
}
.ar_bor_nav_price{
	background: #9dcdfc !important;color: #fff !important;
	position: absolute;top: 0;
}
.reIn_alert{
	width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}
.reIn_alert_box{
	margin: 0 auto;
    width: 540px;
    height: auto;
    overflow: hidden;
    margin-top: 170px;
    background: #fff;
    overflow: auto;
}
.reIn_alert_box h2{
	height: 48px;
	background: #688fe7;
	border-bottom: 1px solid #f0f0f0;
	font-size: 18px;
	color: #fff;
	line-height: 48px;
	padding-left: 12px;
}
.reIn_alert_box_nav{
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #F0F0F0;
	padding: 28px 60px;
}
.reIn_alert_box_nav h4{
	font-size: 16px;
	color: #333;
	margin-bottom: 16px;
}
.screening{
    height: auto;
    overflow: hidden;
}
.screening li{
    width: 80px;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
    border-radius: 4px;
    background-color: #eef1f6;
    float: left;
    color: #909090;
    font-size: 12px;
    text-indent: 12px;
    margin-right: 18px;
    margin-bottom: 20px;
    position: relative;

}
.screening li input[type="checkbox"] {
	width: 20px;
	height: 20px;
	opacity: 0;
}
.screening li label {
	position: absolute;
	left: 60px;
	top: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #e1e1e1;
	background: #fff;
}
.screening li input:checked+label {
	background-color: rgb(96, 182, 255);
	border: 1px solid rgb(96, 182, 255);
}
.screening li input:checked+label::after {
	position: absolute;
	content: "";
	width: 3px;
	height: 6px;
	top: 2px;
	left: 4px;
	border: 1px solid #fff;
	border-top: none;
	border-left: none;
	transform: rotate(45deg)
}
.reIn_alert_box button{
	width: 130px;
	height: 32px;
	background: #fff;
	border-radius: 20px;
	text-align: center;
	margin-right: 76px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.reIn_alert_box button:hover{
	background: #47a3fc;
    border: 1px solid #47a3fc;
    color: #fff;
    cursor: pointer;
}
.scope_pople{
    padding: 0 10px 0 50px;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
}
.pople_number{
    padding: 0 10px 0 50px;
    border-bottom: 1px solid #e0e0e0;
}
.check_price{
    padding: 0 70px 0 78px;
    border-bottom: 1px solid #e0e0e0;
}
.scope_pople h3{
    text-align: center;
    font-size: 16px;
    height: 76px;
    line-height: 76px;
}
.reIn_alert_box h5{
    float: left;
    line-height: 22px;
    text-align: right;
}
.reIn_alert_box select{
    float: left;
    height: 22px;
    border-color: #e0e0e0;
    width: 80px;
    border-radius: 5px;
    margin-left: 16px;
    color: #999999;
}
.check_scope h5:nth-child(3){
    margin-left: 60px;
}
.pople_number h3{
    height: 40px;
    line-height: 40px;
}
.executor{
    height: auto;
    vertical-align: middle;
    float: left;
}
.circle{
    display:inline-block;
    width:18px;
    height: 18px;
    border-radius: 18px;
    background-color: #25da5d;
    color: #fff;
    margin:3px 0 3px 10px ;
}
.circle span{
    font-size: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 2px;
    border: 1px solid #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 12px;
}
.check_perform,.domestic{
    width: 400px;
    float: left;
}
.check_perform div:nth-child(even),.domestic  div:nth-child(even){
    /*margin-left: 120px;*/
}
.pople_number h5{
    width: 84px;
    text-align: right;
}
.foreign{
    margin-top: 18px;
}

/*弹出框*/
.cancel_alert{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0,0,0.5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.cancel_alert_box{
    position:absolute;
    top:60%;
    left:53%;
    margin-top:-350px;
    margin-left:-350px;
    width: 600px;
    color: #666;
    font-size: 12px;
    background-color: #ffffff;
}
.cancel_alert_box p{
	text-align: center;
	font-size: 20px;
	margin: 60px auto;
}
.cancel_alert_box button{
	text-align: center;
	width: 100px;
	height: 30px;
	margin-right: 60px;
	margin-bottom: 30px;
	border-radius: 18px;
	cursor: pointer;
}

/*不执行弹出狂*/
.alert_box_bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;
    display: none;
}
.alert_box{
    height: 430px;
    width: 600px;
    position: absolute;
    margin: auto;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.alert_content h2{
    width: 100%;
    text-indent: 20px;
    color: #fff;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    background-color: #688fe7;
}
.alert_content textarea{
    resize: none;
    width: 480px;
    height: 220px;
    border-radius: 5px;
    display: block;
    margin: 30px auto 60px auto;
    border-color: #e0e0e0;
    text-align: justify;
}
.btn_box_B{
    width: 350px;
    height: 32px;
    margin: 60px auto 0 auto;
}
.btn_box_B button{
    width: 130px;
    height: 30px;
    border-radius: 30px;
    color: #666666;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #f4f4f4;
    padding: 0;
}
.btn_box_B button:nth-child(2){
    margin-left: 80px;
}
.btn_box_B button:hover{
    color: #fff;
    background-color: #688fe7;
}

.bg_color{
    display: none;
}